<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/weeklyChalenge.css">
  <title>Weekly Challenge</title>
</head>
<body>
  <h1>Weekly Challenge</h1>
  <a href="../index.html">Home Page</a>
  <p>Revize HTML & CSS</p>
  <p>Learn something new on the way</p>
</body>
</html>